body {
    height: 100vh; 
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin-left: 150px;
}



.right-links {
    display: flex;
    margin-right: 150px;
    gap: 24px;
}

a {
    
    margin: 4px;
}
ul {
    list-style: none;
    
}